/* Para obligar al navegador a trabajar con estas características */
*{
    margin: 0px;
    padding: 0px;
}

/* Atributos para etiqueta */
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

/* Atributos para ID */
#container{
    /* Para remarcar el área en la que estamos trabajando */
    border: 1px solid black;

    /* Para centrar la caja */
    margin: 0px auto;

    /* Ancho de la caja */
    width: 1100px;
}

header{
    background: red;
    height: 100px;
    width: 100%;
    margin: 0px;
    /* ALINEAR TEXTO */
    text-align: center;

    /* ALINEAR AL CENTRO DE LA CAJA PONER EL MISMO TAMAÑO DE LA ALTURA DE LA CAJA */
    line-height: 100px;

    /* Color del texto */
    color: white;

    /* Crear un borde punteado debajo de la caja */
    border-bottom: 3px dashed black;
}

nav{
    background-color: lightblue;
    height: 50px;
    border: 1px solid black;
}

/* Poner atributos al menu */
nav ul li{
    /*Para poner los elementos uno al costado del otro*/
    float: left;

    /* Quitar los estilos de la lista */
    list-style: none;

    /* Poner un margen a todos los elementos para que se separen entre si */
    margin: 10px;

    /* Centrar verticalmente el texto dentro de la caja */
    line-height: 30px;
}


/* Creamos una clase para que los elementos de abajo no floten como en el menu */
.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(80% - 80px);
    background-color: green;
    min-height: 500px;
    padding: 40px;
}

aside{
    float: left;
    width: calc(20% - 20px);
    background-color: orange;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 60px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

/* Atributos para Clase */
.article {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/* Atributos para el 1er hijo de la clase article */
.article:first-child{
    padding-top: 10px;
    border-top: 1px solid #eee;
}

/* Seleccionar todos los elementos H2 que hay dentro de esa clase */
.article h2{
    font-size: 25px;
}